.signupimg{
    width:100%;
}
.mo{
    display: flex;
    justify-content: flex-end;
}
.kli{
    padding-top: 3rem;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding-bottom: 4rem;
}
@media(min-width:768px){
    .kli{
        margin-top: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
.signwa{
    font-size: 1.7em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #343434;
}
.signwa1{
    font-size: 1.4em;
    font-weight: 100;
    font-stretch: normal;
    padding-bottom: 1.3rem;
    font-style: normal;
    line-height: 1.29;
    padding-top: .5rem;
    letter-spacing: normal;
    color: #343434;
}
.signenter{
    font-size: 1em;
    padding-bottom: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.feild1{
    border: solid 1px #707070;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #343434;  
}

.field1.form-control {
    color: #343434a2;
    font-size: .9em;    
}
.field1::placeholder {
    color: #343434a2;
    font-size: .9em;    
}
.subbtn{
    width: 100%;
    border-radius: 4px;
    background-color: #9c1258;
    border-color: #9c1258;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .6rem;
}
.subbtn:focus{
    outline: none;
    border: none;
}
.subbtn:hover{
    background-color: #9c1258;
    border-color: #9c1258;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #9c1258;
    border-color: #9c1258;
}
.alreadyhave{
    font-size: .9em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    padding-top: .8rem;
    padding-bottom: .8rem;
    color: #343434;
}
.text-divider{margin: .5em 0; line-height: 0; text-align: center;color: #495057}
.text-divider span {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.centeredline{
    border: 1px solid #eff0f1;
}
.logn{
    color: #0070e3;
    cursor: pointer;
}
.socialwrapper{
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.socialIcons1{
    border: 1px solid #345495;
    border-radius: 5px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.socialIcons2{
    border: 1px solid #dd5145;
    border-radius: 5px;
    width: 25%;
    max-width: 26%;
    text-align: center;
    cursor: pointer;
}
.socialwrapper >img{
    cursor: pointer;
}
.socialIcons3{
    border-radius: 5px;
    border: solid 1px #345495;
    cursor: pointer;
    width: 25%;
    text-align: center;
}