.titlearea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
}  
.sidetitle {
    width: 30%;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 1rem ;
    background-color: #f8f8f8;
}
.emptysection{
    width: 100%;
    background-color: #ffffff;
}
.emptysecwrapper {
    width: 70%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.04);
    flex-direction: column;
    padding: 1rem;
    z-index: 2;
    background: white;
}
.dashcontent{
    padding: 4.4rem 2rem 1rem 1rem;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001833;
}
.dashcontent1{
    padding: 0rem 3rem 1rem 1rem;
    font-size: 16px;
    font-weight: 300;
    word-spacing: 2px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #001833;
}
.dashboardwrap{
    display: flex;
    margin-top: 6rem;
    width: 100%;
}
.shiftcent{
    margin: auto;
}
.arrow {
    width: 25px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.arrow1 {
    width: 25px;
    cursor: pointer;
    display: none;
    transition: 1s ease-in-out;
}
.ssflex{
    display: flex;
    align-items: center;
}
@media(max-width:700px){
    .arrow{
        position: relative;
        right: 1.3rem;
    }
    .arrow1 {
        display: block;
    }
}
.arrowflip {
    transform: rotateY(180deg) rotateX(360deg);
    transition: 1s ease-in-out;
    position: relative;
}
.dashtitle{
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9c1258;
    cursor: pointer;
}
.res1{
    font-weight: 400;
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.flexconts{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 1s ease-in-out;
}

.titlearea1{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    padding: 1rem 2rem;
    letter-spacing: normal;
    background-color: #f8f8f8;
}
.titlearealast{
    padding-bottom: 5rem;
    background-color: #f8f8f8;
}
.hidesidebarlinks{
    display: none;
}
.hidesidebar{
    width: 11%;
    transition: 1s ease-in-out;
}
.titleareafirst{
    padding-top: 1rem;
    background-color: #f8f8f8;
}
.titlearea1:focus{
    color: #9c1258;
}
.titlearea1:active{
    color: #9c1258;
}
.shititms{
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}
.seekleft {
    cursor: pointer;
    max-width: 36px;
    max-height: 29px;
}
.textlink {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #001833;
    padding-left: 1rem;
  }
  
.textlink1 {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #001833;
    padding-right: 1rem;
    text-align: right;
  }
  .linkss{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    transition: .1s ease-in-out;
    color: #dedddd;
    cursor: pointer;
  }
  .linkss:hover{
      color: #9c1258;
  }
   .active{
      color: #9c1258;
  }
  .textlink1 a{
      color: #001833;
  }
  @media(max-width:411px){
    .flexconts {
        width: 100%;
        position: absolute;
        z-index: 3;
        height: 100vh;
        background: #f8f8f8;
    }
    .hidesidebar {
        width: 0%;
    }
    .arrow {
        position: relative;
        left: 1rem;
    }
    .emptysecwrapper{
        width: 100%;
    }
    .dashcontent{
        padding: 1.4rem 1rem 1rem 0rem;
        display: flex;
        justify-content: space-between;
    }
    .dashcontent1{
        padding: 0rem 0rem 0rem 0rem;
        text-align: left;
    }
    .ssflex{
        display: flex;
        align-items:center;
    }
    .seekleft{
        width: 16%;
        height: 17px;
    }
    .textlink{
        padding-left: 6px;
        line-height: 1.3;
        font-weight: 500;
    }
    .textlink1{
        padding-right: 6px;
        line-height: 1.3;
        font-weight: 500;
    }
    .shititms {
        padding: 2rem 0rem 1rem 0rem;
     }
     .shiftcent{
        padding: 0px;
     }
  }