.askus{
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    padding: .3rem 2rem;
    width: 69%;
    border-radius: 7.8px;
    border: solid 0.5px #9c12574d;
  } 
  .possition{
    padding-bottom: 11rem;
  }
  .askIn{
    margin-bottom: 1rem;
  }
  .accordion>.card .card-header {
    background-color: #f2f2f2;
}
.space111{
    display: flex;
    justify-content: space-between;
}
.plus_style{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.faq-answers{
    font-size: 15px;
    font-family: 'Sailec-Thin';
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #2c2147;
}