.cftcontent{
    justify-content: center;
}
.xcv1{
    margin: auto;
    width:100%;
}
.firstrowcf {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.Clarity-for-Teams {
    font-size: 2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #9c1258;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .seccfr{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Sailec-Light';
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #150538;
  }
  .lko11{
      /* display: flex; */
      justify-content: space-between;
  }
  .oneofour{
      width: 100%;
  }
  .lko11wr{
      margin-top: 2rem;
  }
  .understand{
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    letter-spacing: normal;
    text-align: left;
    color: #9c1258;
    min-height: 85px;
  }
  .Byhelping{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Sailec-Light';
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: justify;
    min-height: 224px;
    color: #150538;
  }
  .Choose-the-plan{
    font-size: 1.3em;
    font-weight: 300;
    font-family: 'Sailec-Light';
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2c2147;
  }
  .bgwcf{
    background-color: #f9f9f9;
  }
  .pricewraper{
    text-align: center;
    height: 630px;
    margin-right: 1rem;
    margin-top: 2rem;
    border-radius: 13.9px;
    padding: 1.9rem 3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    max-width: 325px;
  }
  .pricewraper:hover{
    box-shadow: rgba(0, 0, 0, 0.195) 0px 5px 30px;
    transition: .5s ease-in-out;
  }
  .plan_{
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: center;
    color: #2c2147;
  }
  .plancost{
    font-size: 1.8em;
    font-weight: bold;
    color: #9c1258;
  }
  .perteam{
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.12;
    letter-spacing: normal;
    text-align: center;
    color: #d5d5d5;
  }
  .dd11{
    font-size: 1em;
    font-weight: 500;
    padding-top: .9rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #2c2147;
  }
  .getstarted{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.095) 0px 5px 30px;
    background: none;
    padding: .5rem 2.3rem;
    top: 14rem;
    border-radius: 8.1px;
    border: solid 1px #9c1258;
    transition: 1s ease-in-out;
  }
  .getstarted1{
    top: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.095) 0px 5px 30px;
    background: none;
    padding: .5rem 2.3rem;
    border-radius: 8.1px;
    border: solid 1px #9c1258;
    transition: 1s ease-in-out;
  }
  .getstarted:hover{
    background:#9c1258;
    color: white;
    transition: .5s ease-in-out;
  }
  .getstarted1:hover{
    background:#9c1258;
    color: white;
    transition: .5s ease-in-out;  
}