.chatwrapper{
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
}
.chatouter{
    margin-bottom: 4rem;
    margin-top: 7%;
    margin-left: 5%;
    background-color: #fbfbfb;
    margin-right: 5%;
}
.searcharea{
    color: #7f8fa4;
    padding: .8rem 2.9rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}
.searcharea:focus{
    outline: none;
}
.searchimg{
    width: 1.2rem;
    padding-right: 6px;
    position: absolute;
    top: 1rem;
    left: 1.7rem;
}

::placeholder {
    color: #7f8fa4b9;
    font-size: 15px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7f8fa4;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #7f8fa4;
}
.x100{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    flex: 0 0 69.966667%;
    max-width: 69.966667%;
}
.three-dot{
    border-left: 4px dotted #7f8fa4b9;
    height: 1.3rem;
    cursor: pointer;
}
.hiddenItem{
    opacity: 0;
}
.greendot{
    height: 8px;
    width: 8px;
    background: #3cb238;
    border-radius: 50%;
    display: inline-block;
    margin-left: .5rem;
}
.username_status{
    color: #2c343a;
    margin-right: 3%;
}
.activeuser{
    display: flex;
    width: 100%;
    cursor: pointer;
    height: 114px;
    background-color: #9c1258;
}
.stat11{
    color: #ffffff;
    margin-left: 30px;
    margin-top: 28px;
}
.chat_photo{
    width: 98%;
    margin-left: 15px;
    margin-top: 18px;
}
.activeuser_im{
    width: 80px;
    max-width: 80px;
}
.horizontalln{
    border: 1px inset #7f8fa4b9;
    width: 100%;
}
.pdleft{
    padding-left: 0px;
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 0px;
}
.pdleft1{
    padding-left: 0px;
    padding-bottom: 5rem;
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 0px;
}
.inc_img{
    width: 41px;
}
.useerimage{
    width: 100%;
}
.chatwrap{
    padding-left: 2rem;
    padding-right:2rem;
    padding-top: 1rem;
    height:70vh;
    overflow-y: scroll;
    flex: 0 0 69.966667%;
    max-width: 69.966667%;
}
.Incoming_Chat{
    display: flex;
    /* width: 326px; */
    align-items: center;
}
.incoming_chat_first_section{
    padding-left: 5px;
    font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #2c343a;
}
.chatym{
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #bab8c6;
}
.chatbotText{
    width: fit-content;
    max-width: 88%;
    padding: 1rem 2rem;
    margin-top: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.01);
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
/* width */
::-webkit-scrollbar div {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7f8fa4;
    border-radius: 10px;
  }
  
  .user_response_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 0rem;
  }
  .p111{
    padding-right: 1rem;
  }
  .p112{
    padding-right: 1rem;
  }
  .fle111{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .typeMessagehere{
    border: none;
    width: 70%;
    padding-left: 1rem;
    margin-left: 1rem;
    background: inherit;
  }
  .typeMessagehere:focus{
      outline: none;
  }
  .p32{
      flex: 2;
      margin: auto;
  }
  .attachimage{
    padding-left: 2rem;
    cursor: pointer;
  }
  .Path-491 {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #fbfbfb;
    border-top: .5px solid #7f8fa4b9;
    padding-bottom: .1rem;
  }
  .pin{
      cursor: pointer;
  }
  .sendButton{
      cursor: pointer;
  }
    .bottomChatArea{
        position: sticky;
        height: 0em;
  }
  .pdleft3 {
    padding-left: 0px;
    padding-bottom: 5rem;
    flex: 0 0 30%;
    background: #fff;
    max-width: 30%;
    padding-right: 0px;
}
.chatwrappp{
    padding-left: 2rem;
    padding-right:2rem;
    padding-top: 1rem;
    height:10vh;
    flex: 0 0 69.966667%;
    max-width: 69.966667%;
}