@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.kdashheader {
  font-weight: 600;
  font-size: 32px;
  word-spacing: 1.2px;
  line-height: 55px;
  letter-spacing: -2.4px;
  color: #001833;
  padding-bottom: 0.1rem;
  padding-top: 2rem;
  padding-top: 2rem;
}
.kdashheaderlight {
  font-weight: 400;
  font-size: 32px;
  line-height: 55px;
  letter-spacing: -2.4px;
  color: #001833;
}
.chartss text {
  font-size: 10px;
}
.jcenter1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.additional {
  margin-bottom: 1rem;
}

.kdash1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #444444;
  margin-bottom: 2rem;
}
.kli6 {
  justify-content: center;
  margin-top: 2rem;
}
.hgjs {
  background: #9c1258;
  color: #fff;
  border: none;
  width: 100%;
}
.hgjs:hover {
  background: #9c1258;
  color: #fff;
  border: none;
}
.kfirstlogo {
  width: 80%;
  border-radius: 6px;
  min-width: 280px;
}
.kdash1 span {
  font-weight: 500;
  color: #001833;
}
.kdasharea {
  background: rgb(236, 236, 236);
  display: flex;
  margin-bottom: 1.2rem;
  border-radius: 6px;
  justify-content: space-around;
  flex-direction: row;
}
.kprofile {
  font-size: 15px;
  color: rgb(153, 152, 152);
}
.kprofile2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #001833;
}
.kprofile3 {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #001833;
}
.kprofilewrap {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  justify-content: center;
}
.resultsec2 {
  display: flex;
  margin-top: 1.3rem;
}
.resultsec22 {
  background-color: #001833;
  padding: 1rem;
  border-radius: 6px;
  max-height: 228px;
}
.reskwrap13 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-around;
  width: 45%;
}
.resultsec3 {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  border-radius: 6px;
  margin-bottom: 2rem;
}
.resultsec13 {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  border-radius: 6px;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-right: 4rem;
}
.csfitscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  margin-left: 1rem;
  background-color: rgb(236, 236, 236);
  border-radius: 6px;
}
.secondlogo {
  border-radius: 6px;
}
@media (max-width: 400px) {
  .secondlogo {
    max-width: 100%;
    height: auto;
  }
  .fjss {
    padding-right: 0px;
  }
  .kdasharea {
    flex-wrap: wrap;
  }
  .kfirstlogo {
    width: 100%;
    height: 180px;
  }
}
@media (min-width: 780px) {
  .lkl {
    padding-left: 0rem;
  }
}
.csfitscore1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #001833;
  padding-bottom: 1rem;
}
.csbody {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 1.5px;
  letter-spacing: -0.3px;
  padding-right: 2rem;
  color: #001833;
  padding-bottom: 0.5rem;
}
.reskwrap {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}
.resultt {
  padding: 1rem 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fullresult {
  background: #9c1258;
  padding: 0.7rem 1.3rem;
  border-radius: 4px;
  display: inline;
  color: #fff;
  cursor: pointer;
}
.kitemwrapper {
  width: 160px;
  height: 160px;
  background: rgb(236, 236, 236);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
.kitemwrapper:hover {
  transform: scale(1.15);
  box-shadow: 5px 10px 18px #888888;
}
.v1strength {
  color: rgb(138, 136, 136);
  text-align: center;
  font-size: 14px;
}
.kiconrow {
  display: flex;
  justify-content: space-between;
}
.kigennidisabled {
  margin-top: 2rem;
}
.mncb {
  width: 79%;
}
.kz2a {
  border-radius: 6px;
  background-color: #001833;
  color: #fff;
  width: 100%;
  display: flex;
  height: 48px;
  align-items: center;
  padding-left: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.kz2 {
  border-radius: 6px;
  background-color: #001833;
  color: #fff;
  width: 100%;
  font-weight: 600;
  display: flex;
  height: 48px;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.contkflex {
  width: 49%;
}
.kz1 {
  display: flex;
  justify-content: space-between;
}
.kl3 {
  width: 15px;
  margin-right: 1.5rem;
}
.kz12 {
  background: #f8f8f8;
  border-radius: 8px;
}
.grapwrap {
  text-align: left;
  padding: 1rem 2rem;
  list-style: inside;
  border-radius: 8px;
}
.grapwrap li {
  padding-top: 1rem;
}
.competence {
  margin-top: 3rem;
  margin-bottom: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #001833;
  font-size: 18px;
}
.competence1 {
  margin-bottom: 3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #001833;
  font-size: 16px;
}
.ikls {
  font-size: 15px;
  line-height: 35px;
  text-align: justify;
  font-weight: 900;
  letter-spacing: -0.3px;
  color: #001833;
}

.otherinfo {
  font-size: 16px;
}
.stbly1 {
  font-weight: 700;
  padding-bottom: 1rem;
}
.stbly {
  margin-bottom: 3rem;
}
.nlodd {
  margin-top: 5rem;
}
.tipswrapper {
  background: #001833;
  word-spacing: 1.5px;
  line-height: 1.8;
  color: #fff;
  font-weight: 100;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .kdasharea {
    background: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  .councellors_response1 {
    margin-left: 2rem !important;
  }
  .siddle {
    padding-top: 1rem !important;
    padding-right: 1rem !important;
  }
  .kfirstlogo {
    min-width: 211px;
  }
  .payheader {
    font-size: 20px;
  }
  .resultsec2 {
    background: #ececec;
    flex-wrap: wrap;
    padding-top: 1rem;
  }
  .resultsec3 {
    flex-wrap: wrap;
    border-radius: 14px;
  }
  .noticee {
    display: none;
  }
  .reskwrap {
    padding-left: 1rem;
  }
  .stbly {
    padding-left: 1rem;
  }
  .secondlogo {
    border-radius: 6px;
    width: 98%;
  }
  .kiconrow {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .csfitscore {
    padding-left: 0rem;
  }
  .mncb {
    width: 100%;
  }
  .kz1 {
    display: block;
  }
  .contkflex {
    width: 100%;
  }
  .resultsec13 {
    flex-wrap: wrap;
  }
  .reskwrap13 {
    width: 100%;
  }
  .kprofile {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .kprofile2 {
    padding-left: 1rem;
    font-size: 28px;
    line-height: 30px;
  }
  .resultsec22 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .kprofilewrap {
    padding-left: 27vw;
    padding-top: 2rem;
  }
}

.vbnc1 {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: normal;
}
@media (max-width: 500px) {
  .contkflex {
    box-shadow: 1.5px 6px 10px rgba(24, 33, 77, 0.25);
    border-radius: 10px;
  }
  .ttp1 {
    font-size: 14px;
  }
  .resultsec22 {
    margin: 0px;
  }
  .kl3 {
    width: 27px;
  }
  .grapwrap {
    text-align: left;
    padding: 1rem 1rem;
    line-height: 1.5;
    word-spacing: 4px;
  }
  .resultsec2 {
    background: #001833;
  }
  .career221 {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: -0.3px;
  }
  .competence1 {
    color: #fff;
  }
  .cptext {
    line-height: 1.8;
    word-spacing: 4px;
  }
  .resultsec2 {
    justify-content: center;
    border-radius: 8px;
  }
  .csfitscore {
    background: #001833;
    color: #fff;
  }
  .csfitscore1 {
    display: none;
  }
  .reskwrap {
    padding-left: 0.5rem;
    padding-top: 2.3rem;
    padding-right: 0.2rem;
    padding-bottom: 2rem;
  }
  .secondlogo {
    display: none;
  }
  .careerpersonalityheader {
    color: #001833;
    font-size: 22px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    text-align: center;
  }
  .resultsec3 {
    justify-content: center;
  }
  .csfitscore2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    width: 100%;
    text-align: center;
  }
  .tipstext {
    word-spacing: 4.2px;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* or 236% */
    letter-spacing: -0.3px;
  }
  .tttpt {
    padding-bottom: 1rem;
  }
  .csbody {
    color: #fff;
    padding-right: 0.3rem;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 2rem;
    word-spacing: 4.2px;
    line-height: 26px;
    opacity: 0.8;
  }
  .kigennidisabled {
    display: none;
  }
  .juki {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .tipswrapper {
    padding: 1rem;
  }
  .stbly1 {
    text-align: center;
    font-size: 17px;
  }
  .noticeee {
    display: flex;
    justify-content: center;
  }
  .noticeee1 {
    width: 27px;
  }
  .underlinee {
    border: 1px solid;
    width: 90px;
    margin: auto;
  }
  .centerpurple,
  .centerblue {
    margin-right: 0px;
  }
}
@media (min-width: 501px) {
  .juki {
    display: none;
  }
  .psdd1 {
    padding-left: 0px;
    width: 90% !important;
  }
  .noticeee {
    display: none;
  }
  .underlinee {
    display: none;
  }
  .csfitscore2 {
    display: none;
  }
  .liuii {
    color: #fff;
  }
  .careerpersonalityheader {
    display: none;
  }
}

@media (max-width: 500px) {
  .vbnc1 {
    padding-bottom: 0.8rem;
  }
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.payheader {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  word-spacing: 1.6px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #001833ec;
  margin-bottom: 3rem;
}

.slcplan1 {
  color: #fff;
  background: transparent;
  display: block;
  padding: 0.4rem 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
  color: #001833;
  border-radius: 1rem;
  border: 1.4px solid #9c1258;
}

.lmi1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.6rem;
  padding-bottom: -0.9rem;
}

.lmi2 {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.amut {
  color: #001833;
  font-weight: 700;
  font-size: 2rem;
  padding-right: 0.4rem;
}
.amurt {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 600;
  color: #444444;
}
.amut1 {
  width: 30%;
  line-height: 1;
  font-size: 13px;
}
.centerr {
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 4rem;
}

.centerr1 {
  border-top: 4px solid #ffad08;
  justify-content: center;
  background: #f8f8f8;
  margin-right: 3rem;
  margin-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  background: #fefefe;
  border-radius: 8px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  box-shadow: 4px 12px 30px rgba(24, 33, 77, 0.25);
}
.centerr2 {
  justify-content: center;
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}
.checkcircle {
  width: 14px;
  margin-right: 0.3rem;
}
.prems {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.55px;
  font-family: "Ubuntu";
  color: #001833;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1.4rem;
}
.premq {
  font-size: 14px;
}
.premq1 {
  font-size: 14px;
  padding-bottom: 1.3rem;
}
.comps1 {
  font-size: 13px;
  font-weight: 400;
  padding-top: 1rem;
}
.comps2 {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  padding-top: 0.1rem;
  line-height: 2.4;
  padding-left: 1rem;
  padding-right: 0.6rem;
}
.slcplan {
  cursor: pointer;
}
.pds {
  width: 100%;
}

.resultsec31 {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.ttp {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.ttp1 {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  padding-left: 1rem;
}
.btmwrap {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 400px) {
  .resultt {
    padding: 0.1rem;
  }
}
.retaketest {
  background: #9c1258;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #9c1258;
  margin-right: 1rem;
}
.retaketest:hover {
  background: #9c1258;
  color: #fff;
  border: 1px solid #9c1258;
}
.retaketest1 {
  background: #9c1258;
  color: white;
}
.fkexx {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.percentoff {
  font-size: 14px;
  font-weight: 400;
  background: #ffad08;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #ececec;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
}
.modal-content {
  border-radius: 0.6rem !important;
}
.feedbackques {
  font-size: 13px;
  padding-bottom: 0.2rem;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.feedbackheader {
  font-size: 14px;
}
.modal-content {
  padding: 1rem;
}
@media (min-width: 576px) {
  .modal-sm {
    max-width: 429px;
  }
}
textarea.form-control {
  height: 93px;
  padding: 10px 2rem;
}
::placeholder {
  font-size: 14px;
}
.oius {
  font-size: 14px;
}
.selecss {
  margin-top: 0.1rem;
}
.flexsa {
  display: flex;
}
.copylink {
  color: #3965ff;
  font-size: 13px;
  /* display: inline-block; */
  background: rgba(57, 100, 255, 0.315);
  margin-left: 0.4rem;
  /* display: flex; */
  align-items: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 215px;
  border: none;
  border-radius: 0.5rem;
}
.losj {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
.selectopt {
  border-color: #fff;
}
.getlink {
  width: 36px;
  margin-right: 0.2rem;
}
.bvcc {
  display: flex;
  padding-bottom: 0.4rem;
}
.feedbackques1 {
  font-size: 12px;
}
.alert-success {
  left: 22%;
  text-align: center;
  margin: auto;
}
.react-calendar {
  width: inherit !important;
  border: 0px solid #a0a096 !important;
}
.scheduleheader {
  text-align: center;
  letter-spacing: -2.4px;
  font-size: 1.7em;
  color: #001833;
  padding-bottom: 1rem;
}
.react-calendar__month-view__days__day--weekend {
  color: #bbbbbb7e !important;
  /* background: #fafbfd !important; */
}
.react-calendar__tile
  .react-calendar__month-view__days__day
  .react-calendar__month-view__days__day--weekend {
  color: #ececec !important;
}
.react-calendar__tile--now {
  background: none !important;
  color: #a0a096 !important;
}
abbr[data-original-title],
abbr[title] {
  color: #a0a096 !important;
}
.fw2 {
  margin-top: 1rem;
}
.whatdou {
  border: 0px transparent;
  background: #f5f7f9 !important;
  border-radius: 8px;
  padding-left: 2rem;
}

.react-calendar button {
  color: #3a405b !important;
  font-size: 12px !important;
}
.react-calendar__tile--active:enabled:hover {
  color: #6e6e6e !important;
  width: none !important;
}
.react-calendar__tile--active:enabled:focus {
  color: #fff !important;
  width: none !important;
}
.activeDate {
  color: #3a405b !important;
  text-align: center;
  border: 1px solid rgba(226, 223, 223, 0.596);
  border-bottom: 0.1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-left: 0px;
  border-right: 0px;
  height: 35px;
}
.availabledate {
  text-align: center;
  color: #a5a5a5;
  border: 1px solid rgba(226, 223, 223, 0.596);
  border-bottom: 0.1px;
  display: flex;
  justify-content: space-evenly;
  cursor: not-allowed;
  align-items: center;
  border-left: 0px;
  border-right: 0px;
  height: 35px;
}
.availabledatewrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.bordenone {
  border-bottom: none;
}
.shex {
  justify-content: space-between;
}
.booksession {
  background: #9c1258;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 14px;
  margin-top: 1.6rem !important;
  cursor: pointer;
  height: fit-content;
}

.jcenter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.notop {
  border-top: 0px solid;
}
.enter11 {
  font-size: 14px;
  color: #6e6e6e;
  padding-left: 0.4rem;
  padding-bottom: 0.5rem;
  position: relative;
  top: 1.5rem;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: none;
  color: #3965ff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: transparent !important;
  color: #3965ff;
}

.react-calendar__tile:disabled {
  background: #fafbfd !important;
  cursor: not-allowed;
  color: #cac6c6 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #3965ff !important;
}

.leavereveiw {
  padding-bottom: 1rem;
  cursor: pointer;
}
.btnws {
  font-size: 12px;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  min-width: 80px;
}

@media (max-width: 600px) {
  .payheader {
    font-size: 20px;
  }
  .centerr1 {
    margin: auto;
    margin-bottom: 4rem;
  }
}

.write {
  position: relative;
  top: 1.9rem;
  width: 13px;
  left: 0.5rem;
}
@media (max-width: 500px) {
  .calwrapper {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
  .fw2 {
    margin-top: 0rem;
  }
  .leastbusexp {
    text-align: center;
  }
}
.calwrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding-top: 0.5rem;
  margin-right: 1rem;
}
.leastbusexp {
  padding-top: 4rem;
  color: #001833;
  font-size: 22px;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  text-align: left;
}
.jksk {
  margin-top: 3rem;
}

.fba {
  margin-bottom: 1rem;
}
.duration {
  letter-spacing: -0.55px;
  /* Dark */
  color: #a5a5a5;
}

.planinsight {
  font-weight: bold;
  font-size: 22px;
  line-height: 10px;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: -0.55px;
  /* Dark Blue */
  color: #001833;
}
.oneoff {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #a5a5a5;
  text-align: center;
  padding-top: 0.5rem;
}
.traingle {
  width: 56px;
  color: #ffad08;
  background: #ffad08;
  display: block;
  z-index: 120;
  border: 2px solid;
  transform: rotate(45deg);
  position: relative;
  left: 14.56rem;
  top: 1rem;
}
.slcplan {
  color: #fff;
  background: #9c1258;
  margin: auto;
  display: block;
  padding: 0.4rem 1.5rem;
  margin-top: 0.5rem;
  width: 59%;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 4rem;
  min-width: 135px;
}
.centerpurple {
  border-top: 4px solid #9c1258;
  justify-content: center;
  background: #f8f8f8;
  margin-right: 3rem;
  margin-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  background: #fefefe;
  border-radius: 8px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  box-shadow: 4px 12px 30px rgba(24, 33, 77, 0.25);
}
.percentoffpurple {
  font-size: 14px;
  font-weight: 400;
  background: #9c1258;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #ececec;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
}
.percentoffblue {
  font-size: 14px;
  font-weight: 400;
  background: #3965ff;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #ececec;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
}
.centerblue {
  border-top: 4px solid #3965ff;
  justify-content: center;
  background: #f8f8f8;
  margin-right: 3rem;
  margin-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  background: #fefefe;
  border-radius: 8px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  box-shadow: 4px 12px 30px rgba(24, 33, 77, 0.25);
}
@media (max-width: 600px) {
  .centerpurple {
    margin-bottom: 1rem;
  }
  .centerpurple,
  .centerblue {
    margin-right: 0px;
  }
  .centerr1 {
    margin-bottom: 2rem;
  }
}
.coonfused {
  font-size: 26px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #001833;
}
.retaketest2 {
  background: #fff;
  border-radius: 8px;
  color: #9c1258;
  border: 1px solid #9c1258;
  margin-right: 1rem;
  border: 1px solid #9c1258;
  border-color: #9c1258 !important;
  width: 195px;
}
.retaketest2:hover {
  background: #fff;
  border-radius: 8px;
  color: #9c1258;
  border: 1px solid #9c1258;
  border-color: #9c1258 !important;
}
.pool {
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #001833;
}
@media (max-width: 500px) {
  .check11 {
    display: contents;
  }
  .resultsec13 {
    display: flex;
    margin-top: 1.2rem;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    border-radius: 6px;
    margin-bottom: 2rem;
    /* padding: 1rem; */
    padding-right: 0rem;
    text-align: center;
  }
  .retaketest2 {
    margin-top: 0.4rem;
  }
}
.siddle {
  background: #001833;
  min-height: 80vw;
  padding: 0rem;
  color: #fff;
  border-top: 4px solid #9c1258;
  padding-top: 1rem;
}
.chage {
  background: #1bb978;
}
.chag11 {
  border-top: 4px solid #1bb978;
}
.siddle12 {
  background: #9c1258;
  height: 7px;
}
.imgCart {
  margin-top: 5rem;
  margin: auto;
  width: 100px;
  margin-left: 2.5rem;
}
.navdash {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.prm {
  padding-left: 0px;
  padding-right: 0px;
}

.prm11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.prm111 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
}
.navdash {
  display: flex;
  justify-content: space-between;
}
.overview {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.ovf {
  color: #001833;
  font-weight: 500;
  font-size: 16px;
  padding-left: 2rem;
}
.avatar11 {
  margin-left: 0.4rem;
}
.navitem1 {
  color: #fff;
  padding-top: 4rem;
  padding-left: 0.1rem;
  font-size: 12px;
  line-height: 4.4;
}

.avar {
  width: 80px;
  max-width: 80px;
}
.kisls {
  padding-left: 3rem;
  padding-top: 3rem;
}
.ksname {
  font-weight: 800;
}
.fjss {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  flex-wrap: wrap;
}
.proff2 {
  font-weight: bold;
  font-size: 20px !important;
  color: #001833;
  line-height: 1;
}
.smalls {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #001833;
  letter-spacing: normal;
}
.idds {
  font-size: 28px;
}
.sowws {
  width: 226px;
  line-height: 29px;
}
.psdd {
  padding-left: 0px;
}

.caerr {
  font-size: 28px;
}
.insightss {
  color: #9c1258;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
}
.sideimage {
  margin-right: 0.4rem;
}
.dlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whiteline {
  background: #fff !important;
}
.navitemnone {
  display: none;
}
.siddlenone {
  min-height: auto;
}
@media (max-width: 400px) {
  .fjss {
    padding-right: 0px;
    line-height: 1.6;
  }
}
.liee {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 16px;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}
.briefcase {
  width: 16px;
  margin-bottom: 0.5px;
  margin-right: 0.5rem;
}
.lds1 {
  border: 0px solid;
}
.lds1:hover {
  border: 0px solid;
  background: transparent;
}
.iussP {
  text-align: right;
}
.lds1:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: none !important;
  color: #9c1258;
}
.whatdoudo {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 1rem;
  letter-spacing: normal;
}
.liee > div {
  display: flex;
  align-items: center;
}

.uidd11 {
  padding-top: 0px;
}
textarea.form-control.jobr {
  padding-left: 0.7rem;
}
.check11 {
  text-align: right !important;
}
textarea.form-control.jobr {
  border: 0.1px solid inherit !important;
}
.gbn {
  color: #a5a5a5;
  line-height: 41px;
  padding-left: 1rem;
  cursor: pointer;
}
.gbn > a {
  cursor: pointer;
}
.activegb {
  line-height: 41px;
  border-left: 1px solid white;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.027);
}

.divide_thro {
  height: 0.1px;
  background: #d4d3d359;
  margin-bottom: 0.4rem;
  margin-top: 0.3rem;
}
.jobr {
  height: 93px;
  font-size: 14px;
}
.rowla {
  margin-bottom: 1rem;
}
.offpadd1 {
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.ksk1 {
  background: #9c1258;
  color: #fff;
  text-align: right;
  font-weight: 700;
  display: inline;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}
.kskthin {
  background: #9c1258;
  color: #fff;
  text-align: right;
  font-weight: 200;
  display: inline;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}
.duis {
  padding-bottom: 0.4rem;
  padding-right: 0.1rem;
}
.line2a {
  width: 28px;
  background: #9c1258;
  height: 3px;
  margin-top: 5px;
}
.hnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem 0.8rem;
}
@media (min-width: 801px) {
  .hnav {
    display: none;
  }
}
@media (max-width: 800px) {
  .imgCart {
    margin-top: 5rem;
    margin: auto;
    width: 100px;
    margin-left: 0.5rem !important;
  }
  .kisls {
    padding-left: 1.3rem;
    padding-right: 1.6rem;
    overflow-x: hidden !important;
    padding-bottom: 2rem;
  }
  .hamburger {
    background: #9c12573d;
    padding: 1.1rem;
    border-radius: 50%;
  }
  .hnav {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  .siddle {
    display: none;
  }
  .siddlemobile {
    background: #001833;
    min-height: 80vw;
    padding: 0rem;
    color: #fff;
    border-top: 4px solid #9c1258;
    padding-top: 1rem;
  }
  .whatdoudo {
    padding-top: 1rem;
  }
  .navdash {
    display: none;
  }
}
.what12 {
  display: flex;
  align-items: center;
}
.plusnew {
  font-size: 19px;
  font-weight: 600;
  color: #3965ff;
  padding-left: 2rem;
  display: flex;
  line-height: 1;
  cursor: pointer;
}

.jssss {
  padding-left: 0px;
}
.siddlemobile {
  background: #001833;
  min-height: 80vw;
  padding: 0rem;
  color: #fff;
  border-top: 4px solid #9c1258;
  padding-top: 1rem;
}
.subhyt {
  height: 50px !important;
}
.plusnew1 {
  font-size: 12px;
  background: white;
  display: inline-block;
  font-weight: 500;
  position: relative;
  top: 0.75rem;
  left: 0.7rem;
  color: #001833;
  padding: 0.2rem;
  cursor: pointer;
}
.plusnew2 {
  font-size: 12px;
  background: white;
  display: inline-block;
  font-weight: 500;
  color: #001833;
  padding: 0.2rem;
  cursor: pointer;
}
.offpad {
  padding-bottom: 0px;
}
.qflex {
  display: flex;
  margin-top: 2.3rem;
}
.ll122 {
  position: absolute;
  display: flex;
  margin-left: 5rem;
  height: 33px;
  align-items: center;
  top: 2px;
  flex-wrap: wrap;
}
.skills {
  background: #3965ff;
  border-radius: 40px;
  color: #fff;
  padding: 0.4rem 1rem;
  margin-left: 0.6rem;
}
.possqq {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.lass {
  padding-bottom: 1rem;
}
.app11 {
  margin-top: 0.5rem;
}
.unbtm {
  padding-bottom: 0.1px;
}
.print {
  color: #9c1258;
  border: 1px solid #9c1258;
  border-radius: 8px;
  padding: 0.1rem 0.7rem;
  display: inline-block;
  font-weight: 700;
  margin-left: 1rem;
}
.savebtn {
  color: #fff;
  background: #9c1258;
  border: 1px solid #9c1258;
  padding: 0.1rem 0.7rem;
  border-radius: 8px;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}
.printcv {
  padding-bottom: 1rem;
}
.experience {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  color: #001833;
}

.npps {
  padding-top: 0px;
}
.picic {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-left: 1rem;
}
.floo {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  flex-wrap: wrap;
}
.serv11 {
  color: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 28px;
}

.worddd {
  display: flex;
  align-items: center;
  font-weight: 500;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 18px;
}

.Complain {
  display: flex;
  align-items: center;
  font-weight: 500;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 14px;
}
.subsbs {
  padding-top: 1rem;
}
.councellors_response {
  background: #fafafa;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  border-radius: 0px 60px 60px 60px;
  width: 90%;
  line-height: 1.7;
  padding: 1.5rem;
  padding-left: 1.9rem;
  color: #3a405b;
}
.youwrap {
  font-size: 14px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
}
.councwrap {
  font-size: 14px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  text-align: right;
}

.you11 {
  background: #e4b8ff;
  border-radius: 8px;
  padding: 0.3rem 2rem;
}
.you11b {
  background: #b9f4bc;
  border-radius: 8px;
  padding: 0.3rem 2rem;
}
.councellors_response1 {
  background: #ebeeff;
  border-radius: 60px 60px 0px 60px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  width: 90%;
  line-height: 1.7;
  padding: 1.5rem;
  padding-left: 1.9rem;
  color: #3a405b;
  margin-left: 6rem;
}

.youdate {
  padding: 1rem;
  color: #3965ff;
}
.youwss {
  padding-left: 0px;
}

.youwraprev {
  font-size: 14px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  text-align: right;
  padding-right: 1rem;
}
.sendtcont {
  margin-top: 1rem;
  margin-right: 2rem;
  width: 97%;
  margin-left: 1rem;
}
.sendmeess {
  background: #9c1258;
  color: #fff;
  margin-top: 1rem;
  word-spacing: normal;
  letter-spacing: normal;
  margin-right: 1.4rem;
  font-size: 14px;
  text-align: right;
  font-weight: 200;
  display: inline;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}
.textrrr {
  text-align: right;
  padding-right: 10%;
}
.norec {
  text-align: center;
}
.norecommendations {
  width: 32%;
}
.udont {
  text-align: center;
  font-size: 15px;
  letter-spacing: normal;
  font-weight: 400;
}
.udont1 {
  text-align: center;
  font-size: 18px;
  letter-spacing: normal;
  font-weight: 500;
  line-height: 1.6;
}
.activeplac {
  font-size: 19px;
  letter-spacing: normal;
  line-height: normal;
}
.subtert {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  padding-top: 0.7rem;
}
.deleee {
  text-align: right;
}
.fa-trash {
  color: #9c1258;
  font-weight: 600;
  cursor: pointer;
}
.experience {
  border: 0.1px solid #a0a09656;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 1rem;
}
.plusnew12,
.subhyt12 {
  background-color: #eee;
  cursor: not-allowed;
}
.uii11 {
  font-size: 14px;
}
.bcash {
  font-size: 16px;
  letter-spacing: normal;
  color: #9c1258;
  line-height: normal;
}

.wrapc1 {
  display: flex;
  color: #979797;
  justify-content: space-between;
  font-size: 14px;
  font-size: 500;
  margin-top: 2rem;
  padding: 0.1rem 3rem;
  margin-bottom: 1rem;
}
.cname {
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: flex-start;
  color: #18214d;
  display: flex;
  flex-direction: column;
}
.cdate {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #18214d;
}
.ctime {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #18214d;
}
.wrapc2 {
  display: flex;
  color: #979797;
  justify-content: space-between;
  font-size: 14px;
  font-size: 500;
  margin-top: 0.2rem;
  align-items: center;
  background: #fefefe;
  box-shadow: 0px 2px 6px rgba(24, 33, 77, 0.25);
  border-radius: 8px;
  padding: 2rem 3rem;
  margin-bottom: 0.4rem;
}
.cname1,
.cdate1,
.ctime1,
.cname,
.cdate,
.ctime {
  flex: 1;
  text-align: left;
}
.cstatus1,
.cstatus2 {
  width: 120px;
  text-align: left;
}
.cstatus2 {
  justify-content: center;
}
.cemail1 {
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #b8bfd3;
  font-size: 12px;
}
.cstatus {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #1bb978;
  background: #b9f4bc;
  border-radius: 8px;
  padding: 0.1rem 0.4rem;
  justify-content: center;
}
.pending {
  text-align: center;
  color: #ff0000;
  background: #fce4e4;
  border-radius: 8px;
}
.dspl {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  color: #979797;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.leftimg {
  width: 30px;
  margin-right: 1rem;
}
.rightimg {
  width: 30px;
}
.addone {
  color: #3965ff;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.wrarr {
  border: 1px solid;
  padding: 0.4rem 1.3rem;
  border-radius: 19px;
}
.rtt {
  justify-content: flex-start;
  padding-left: 1px;
  padding-top: .5rem;
}
